<!DOCTYPE html>
<html lang="">
<head>
    <title>Add Person</title>
</head>
<body>
    <h1>Add Person</h1>
    <form method="get" action="{% url 'add_person' %}">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="middle_name">Middle Name:</label>
        <input type="text" id="middle_name" name="middle_name"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age"><br>
        <label for="person_type">Person Type:</label>
        <input type="text" id="person_type" name="person_type"><br>
        <button type="submit">Add Person</button>
    </form>
</body>
</html>
